header {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 97%;
    padding: 0px 20px 20px 20px;
    align-items: center;
    border: 1px solid rgb(196, 0, 0);
    border-radius: 6px;
    backdrop-filter: blur(15px);
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgb(97, 97, 97);
}
header button {
    background: white;
    border: none;
    padding: 8px;
    margin: 20px 20px 0 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
header button:hover {
    background: #dadada;
}
header button img {
    width: 24px;
    height: 24px;
}
header select {
    cursor: pointer;
}
header input, header select {
    padding: 8px;
    margin: 20px 0 0 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 1em;
}
header .save-btn {
    background: #008ac0;
}
header .save-btn:hover {
    background: #00b7ff;
}
header .deleteBtn {
    padding: 2px 0 0 0;
    border: 2px dotted #000;
}
header .remove-measure-btn {
    border-style: dashed;
    padding: 2px 0 0 0;
    border: 2px dashed #000;
}

.categoriesFilterWrap {
    position: absolute;
    width: 250px;
    border: 1px solid rgb(196, 0, 0);
    border-radius: 6px;
    padding: 20px;
    top: 15%;
    left: 1.5%;
    z-index: 1000;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px rgb(97, 97, 97);
}
.categoriesFilterWrap h3 {
    margin: 0 0 20px 0;
}
.categoriesFilterWrap form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.categoriesFilterWrap form div {
    margin: 7px 0;
    display: flex;
    align-items: center;
}
.categoriesFilterWrap form div label {
    font-size: 1.2em;
    cursor: pointer;
}
.categoriesFilterWrap form div input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.infoWrap {
    position: absolute;
    width: 250px;
    border: 1px solid rgb(196, 0, 0);
    border-radius: 6px;
    padding: 20px;
    top: 15%;
    right: 1.5%;
    z-index: 1000;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px rgb(97, 97, 97);
}
.infoWrap h3 {
    margin: 0 0 20px 0;
}
.infoWrap p {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}