header {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}
header button {
    background: white;
    border: none;
    padding: 8px;
    margin: 20px 20px 0 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
header button:hover {
    background: #dadada;
}
header button img {
    width: 24px;
    height: 24px;
}
header select {
    cursor: pointer;
}
header input, header select {
    padding: 8px;
    margin: 20px 0 0 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 1em;
}
header .save-btn {
    background: #008ac0;
}
header .save-btn:hover {
    background: #00b7ff;
}
header .deleteBtn {
    border-style: dotted;
    padding: 2px 0 0 0;
}